<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" id="lightMode" href={{colorMode}}>
    <script src="direct_messaging.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
                <img src="jessehartloff.jpeg" alt="Logo" style="width:30px; ">
                &emsp;Welcome, {{user}}
            </a>
            <div class="text-right">
                <div class="container">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Active Users
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <!--ActiveUsers-->
                        </div>
                    </div>
                    <form action="/logout" method="post">
                        <input type="submit" class="btn btn-primary" id="logoutSubmitButton" value="Log Out">
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <div class="toast bg-primary" style="position: absolute; right: 10px;" data-animation="true" data-delay="4000">
        <div class="toast-header">
            <strong class="mr-auto text-primary"></strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">

        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Chatting with {{receiver}}</h4>
            </div>
            <div class="card-body" id="display_message">
                {{messages}}
            </div>
            <div class="card-footer">
                <input id="input_message" type="text" name="message" placeholder="Reply here ......"><input type="submit" class="upload-button" value="Send" onclick="sendMessage()">
            </div>
        </div>
    </div>

</body>

</html>