<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="login.css">

    <!-- Javascipt -->
    <script src="login.js"></script>

<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="jessehartloff.jpeg" alt="Logo" style="width:30px; ">
        </a>
        <div class="text-right">
            <button type="button" class="btn btn-primary" onclick="showSignup()">Sign Up</button>
            <button type="button" class="btn btn-primary" onclick="showLogin()">Login</button>
        </div>
    </div>
</nav>

<div class="form-group" id="loginForm" style="display:none">
    <form action="/login" method="post" enctype="multipart/form-data">
        <label for="loginEmail">Email address:</label>
        <input type="email" class="form-control" id="loginEmail" name="email">
        <label for="loginPwd">Password:</label>
        <input type="password" class="form-control" id="loginPwd" name="password">
        <input type="submit" class="btn-primary" id="loginSubmitButton" value="Login">
    </form>
</div>
<br/>
<div class="form-group" id="signUpForm" style="display:none">
    <form action="/signUp" method="post" enctype="multipart/form-data">
        <label for="signUpName">Name:</label>
        <input type="text" class="form-control" id="signUpName" name="name">
        <label for="signUpEmail">Email:</label>
        <input type="email" class="form-control" id="signUpEmail" name="email">
        <label for="signUpPwd">Password:</label>
        <input type="password" class="form-control" id="signUpPwd" name="password">
        <label for="signUpConfirmPwd">Confirm Password:</label>
        <input type="password" class="form-control" id="signUpConfirmPwd" name="confirm_password">
        <input type="submit" class="btn-primary"  id="signUpSubmitButton" value="Sign Up">
    </form>
</div>

</body>

</html>
